h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
input{
    border-radius: 5px;
}
button{
    background-color: pink;
    border: 1px violet solid;
    border-radius: 5px;
    margin-left: 5px;
}
.container{
    display: flex;
    justify-content: center;
}
body{
    background-color: aquamarine;
}
li{
    text-decoration: none;
    cursor: pointer;
    text-shadow: rgb(18, 41, 51) 0.5px 0.5px;
    color: purple;
}